{% extends 'main_app/base.html' %}
{% load static %}
{% block body %}

<div class="page-title-area">
<div class="container">
<div class="page-shape-wrap">
<div class="page-title-content">
<h2>Blog Details</h2>
<ul>
<li>
<a href="index.html">
Home
</a>
</li>
<li class="active">
Blog Details
</li>
</ul>
</div>
<img src="{% static 'assets/images/page-bg-shape-1.png' %}" alt="Image" class="shape shape-1" data-speed="0.04" data-revert="true">
<img src="{% static 'assets/images/page-bg-shape-7.png' %}" alt="Image" class="shape shape-2" data-speed="0.04" data-revert="true">
</div>
</div>
</div>


<div class="blog-details-area ptb-100">
<div class="container">
<div class="row">
<div class="col-lg-8">
<div class="blog-details-content">
<div class="blog-details-img">
<img src="{{blog.image.url}}" alt="Image">
</div>
<div class="blog-top-content">
<div class="news-content">
<ul class="admin">
<li>
<a href="blog.html">
<i class="ri-user-line"></i>
<span>Admin</span>
</a>
</li>
<li>
<i class="ri-time-fill"></i>
<span>{{blog.blog_date}}</span>
</li>
<li>
<i class="ri-eye-fill"></i>
<span>32.2k Views</span>
</li>
</ul>
<h3>{{blog.blog_name}}</h3>
<p>{{blog.description|safe}}</p>
<p>{{blog.description|safe}}</p>

</div>
<blockquote>
<p>‘’Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor idunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus modo viverra maecenas accumsan lacus vel facilisis.’’</p>
</blockquote>
<div class="news-content-2">
<p>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi nulla quis nibh. Quisque a lectus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. malesuada erat ut turpis. Suspendisse urna nibh, viverra non semper suscipit</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet voluptates ipsa debitis voluptatem repellat animi dolor aliquam aut soluta blanditiis, quas adipisci cumque, velit aliquid consectetur nostrum minus corporis earum!</p>
</div>
<div class="row">
<div class="col-lg-6 col-md-6">
<div class="single-blog-post-img">
<a href="blog-details.html">
<img src="{% static 'assets/images/blog-details/blog-1.jpg' %}" alt="Image">
</a>
</div>
</div>
<div class="col-lg-6 col-md-6">
<div class="single-blog-post-img">
<a href="blog-details.html">
<img src="{% static 'assets/images/blog-details/blog-2.jpg' %}" alt="Image">
</a>
</div>
</div>
</div>
<div class="tag-bar d-flex justify-content-between">
<ul class="tag-list">
<li>
<span>Tag:</span>
</li>
<li>
<a href="blog.html">
Strategy
</a>
</li>
<li>
<a href="blog.html">
Workshop
</a>
</li>
<li>
<a href="blog.html">
Teaching
</a>
</li>
</ul>
<ul class="socila-link">
<li>
<span>Share:</span>
</li>
<li>
<a href="https://www.facebook.com/" target="_blank">
<i class="ri-facebook-fill"></i>
</a>
</li>
<li>
<a href="https://www.twitter.com/" target="_blank">
<i class="ri-twitter-line"></i>
</a>
</li>
<li>
<a href="https://www.instagram.com/" target="_blank">
<i class="ri-instagram-line"></i>
</a>
</li>
<li>
<a href="https://www.google.com/" target="_blank">
<i class="ri-google-fill"></i>
</a>
</li>
</ul>
</div>
</div>
<div class="comments">
<h3>Comments (2)</h3>
<ul>
<li>
<img src="{% static 'assets/images/blog-details/comments-1.jpg' %}" alt="Image">
<h3>Juanita Jones</h3>
<span>Monday, Dec 20, 2021</span>
<p>Lorem ipsum dolora sit amet, consectetur adipiscing elit sed do eiusmod tempor incdidunt labore et dolore magna aliqua. Veniam quis nostrud exercitation ullaco</p>
<a href="#">
Reply
</a>
</li>
<li>
<img src="{% static 'assets/images/blog-details/comments-2.jpg' %}" alt="Image">
<h3>Ward F. Nelson</h3>
<span>Monday, Dec 21, 2021</span>
<p>Lorem ipsum dolora sit amet, consectetur adipiscing elit sed do eiusmod tempor incdidunt labore et dolore magna aliqua. Veniam quis nostrud exercitation ullaco</p>
<a href="#">
Reply
</a>
</li>
</ul>
</div>
<div class="leave-reply">
<h3>Leave A Reply</h3>
<p>Your email address will not be published. Required fields are marked<span class="star">*</span></p>

<form method="post" action="{{request.path}}" enctype="multipart/form-data">
{% csrf_token %}
<div class="row">
<div class="col-lg-6 col-sm-6">
<div class="form-group">
<label>Name<span class="star">*</span></label>
<input type="text" name="name" id="name" class="form-control" placeholder="enter name">
</div>
</div>
<div class="col-lg-6 col-sm-6">
<div class="form-group">
<label>Email address<span class="star">*</span></label>
<input type="email" name="email" id="email" class="form-control" placeholder="Email">
</div>
</div>
<div class="col-lg-12">
<div class="form-group">
<label>Your website</label>
<input type="text" name="website" id="your-website-link" class="form-control" placeholder="Web address">
</div>
</div>
<div class="col-lg-12 col-md-12">
<div class="form-group">
<label>Comment</label>
<textarea name="message" class="form-control" id="message" rows="8"></textarea>
</div>
</div>
<div class="col-12">
<div class="form-group">
<input type="checkbox" id="chb2">
<span>
Save my name, email, and website in this browser for the next time I comment.
</span>
</div>
</div>
<div class="col-lg-12 col-md-12">
<button type="submit" class="default-btn page-btn">
<span>Post A Comment</span>
</button>
</div>
</div>
</form>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="widget-sidebar">
<div class="sidebar-widget search">
<form class="search-form">
<input class="form-control" name="search" placeholder="Search here" type="text">
<button class="search-button" type="submit">
<i class="ri-search-line"></i>
</button>
</form>
</div>
<div class="sidebar-widget categories">
<h3>Categories</h3>
<ul>
<li>
<a href="#">Road Transport <span>(05)</span></a>
</li>
<li>
<a href="#">Sea Transport <span>(07)</span></a>
</li>
<li>
<a href="#">Air Transport <span>(10)</span></a>
</li>
<li>
<a href="#">Courier Service <span>(09)</span></a>
</li>
<li>
<a href="#">Fast Freight <span>(12)</span></a>
</li>
<li>
<a href="#">Home Delivery <span>(11)</span></a>
</li>
<li>
<a href="#">Packaging <span>(03)</span></a>
</li>
</ul>
</div>
<div class="sidebar-widget recent-post">
<h3 class="widget-title">Recent Post</h3>
<ul>
    <li>
    <a href="blog-details.html">
    New Cargo Shipment Is Open On The Global Market
    <img src="{% static 'assets/images/blog-details/recent-post-1.jpg' %}" alt="Image">
    </a>
    <span>October 19,2020</span>
    </li>
    <li>
    <a href="blog-details.html">
    Marketing Policy Added To The Logistic Service
    <img src="{% static 'assets/images/blog-details/recent-post-2.jpg' %}" alt="Image">
    </a>
    <span>October 18,2020</span>
    </li>
    <li>
    <a href="blog-details.html">
    Marketing Policy Added To The Logistic Service
    <img src="{% static 'assets/images/blog-details/recent-post-3.jpg' %}" alt="Image">
    </a>
    <span>October 09,2020</span>
    </li>
    </ul>
</div>
<div class="sidebar-widget categories">
<h3>Archives</h3>
<ul>
<li>
<a href="#">August <span>2020</span></a>
</li>
<li>
<a href="#">June <span>2020</span></a>
</li>
<li>
<a href="#">April <span>2020</span></a>
</li>
<li>
<a href="#">January <span>2020</span></a>
</li>
<li>
<a href="#">December <span>2020</span></a>
</li>
<li>
<a href="#">November <span>2020</span></a>
</li>
</ul>
</div>
<div class="sidebar-widget tags mb-0">
<h3>Tags</h3>
<ul>
<li>
<a href="#">Road Transport</a>
</li>
<li>
<a href="#">Sea Transport</a>
</li>
<li>
<a href="#">Air Transport</a>
</li>
<li>
<a href="#">Courier Service</a>
</li>
<li>
<a href="#">Fast Freight</a>
</li>
<li>
<a href="#">Home Delivery</a>
</li>
<li>
<a href="#">Packaging</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>

{% endblock body %}
